{% extends 'homebase.html' %}

{% block title %}Contact | {{ setting.company }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <section id="aa-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-contact-area">
                        <!-- Contact address -->
                        <div class="aa-contact-address">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="aa-contact-address-left">

                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }}" role="alert">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        <form class="comments-form contact-form" action="" method="post">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            <input type="submit" value="Send" class="aa-secondary-btn"></input>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="aa-contact-address-right">
                                        <address>
                                            <h4>{{ setting.company }}</h4>
                                            <p>{{ setting.description }}</p>
                                            <p><span class="fa fa-home"></span>{{ setting.address }}</p>
                                            <p><span class="fa fa-phone"></span>{{ setting.phone }}</p>
                                            <p><span class="fa fa-envelope"></span>Email: {{ setting.email }}</p>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}