{% load static %}

<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            {% load mptt_tags %}
                            <ul class="nav nav-tabs aa-products-tab">
                                <hr>
                                <li class="active"><a href="#men" data-toggle="tab">ALL PRODUCTS</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        {% for rs in products %}
                                            <li>
                                                <figure>
                                                    <a class="aa-product-img" href="/product/{{ rs.id }}/{{ rs.slug }}">
                                                        <img src="{{ rs.image.url }}"
                                                             alt="polo shirt img"
                                                             style="width: 250px; height: 300px;">
                                                    </a>
                                                    <a class="aa-add-card-btn" href="/order/addtocart/{{ rs.id }}/"><span
                                                            class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                    <figcaption>
                                                        <h4 class="aa-product-title"><a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4>
                                                        <span class="aa-product-price">$45.50</span><span
                                                            class="aa-product-price"><del>{{rs.price}}</del></span>
                                                    </figcaption>
                                                </figure>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->

<section id="aa-popular-category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-popular-category-area">
                        <!-- start prduct navigation -->
                        <ul class="nav nav-tabs aa-products-tab">
                            <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
                            <li><a href="#featured" data-toggle="tab">Featured</a></li>
                            <li><a href="#latest" data-toggle="tab">Latest</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Start men popular category -->
                            <div class="tab-pane fade in active" id="popular">
                                <ul class="aa-product-catg aa-popular-slider">
                                    {% for rs in popular %}
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="/product/{{ rs.id }}/{{ rs.slug }}"><img
                                                        src="{{ rs.image.url }}" style="width: 250px; height: 300px;"
                                                        alt="polo shirt img"></a>
                                                <a class="aa-add-card-btn" href="/order/addtocart/{{ rs.id }}/"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a
                                                            href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                                    </h4>
                                                    <span class="aa-product-price">${{ rs.price }}</span><span
                                                        class="aa-product-price"><del>$45.50</del></span>
                                                </figcaption>
                                            </figure>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- / popular product category -->

                            <!-- start featured product category -->
                            <div class="tab-pane fade" id="featured">
                                <ul class="aa-product-catg aa-featured-slider">
                                    {% for rs in featured %}
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="/product/{{ rs.id }}/{{ rs.slug }}"><img
                                                        src="{{ rs.image.url }}" style="width: 250px; height: 300px;"
                                                        alt="polo shirt img"></a>
                                                <a class="aa-add-card-btn" href="/order/addtocart/{{ rs.id }}/"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a
                                                            href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                                    </h4>
                                                    <span class="aa-product-price">${{ rs.price }}</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                        </li>
                                    {% endfor %}

                                </ul>

                            </div>
                            <!-- / featured product category -->

                            <!-- start latest product category -->
                            <div class="tab-pane fade" id="latest">
                                <ul class="aa-product-catg aa-latest-slider">
                                    {% for rs in latest %}
                                        <!-- start single product item -->
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="/product/{{ rs.id }}/{{ rs.slug }}"><img
                                                        src="{{ rs.image.url }}" style="width: 250px; height: 300px;"
                                                        alt="polo shirt img"></a>
                                                <a class="aa-add-card-btn" href="/order/addtocart/{{ rs.id }}/"><span
                                                        class="fa fa-shopping-cart"></span>Add To Cart</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a
                                                            href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                                    </h4>
                                                    <span class="aa-product-price">${{ rs.price }}</span><span
                                                        class="aa-product-price"><del>$65.50</del></span>
                                                </figcaption>
                                            </figure>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- / latest product category -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / popular section -->
<!-- Support section -->
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4>FREE SHIPPING</h4>
                            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-clock-o"></span>
                            <h4>30 DAYS MONEY BACK</h4>
                            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-phone"></span>
                            <h4>SUPPORT 24/7</h4>
                            <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nobis.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Support section -->


<!-- Client Brand -->
<section id="aa-client-brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-client-brand-area">
                    <ul class="aa-client-brand-slider">
                        <li><a href="#"><img src="{% static  'img/client-brand-java.png' %}" alt="java img"></a></li>
                        <li><a href="#"><img src="{% static  'img/client-brand-jquery.png' %}" alt="jquery img"></a>
                        </li>
                        <li><a href="#"><img src="{% static  'img/client-brand-html5.png' %}" alt="html5 img"></a></li>
                        <li><a href="#"><img src="{% static  'img/client-brand-css3.png' %}" alt="css3 img"></a></li>
                        <li><a href="#"><img src="{% static  'img/client-brand-wordpress.png' %}"
                                             alt="wordPress img"></a></li>
                        <li><a href="#"><img src="{% static  'img/client-brand-joomla.png' %}" alt="joomla img"></a>
                        </li>
                        <li><a href="#"><img src="{% static  'img/client-brand-java.png' %}" alt="java img"></a></li>
                        <li><a href="#"><img src="{% static  'img/client-brand-jquery.png' %}" alt="jquery img"></a>
                        </li>
                        <li><a href="#"><img src="{% static  'img/client-brand-html5.png' %}" alt="html5 img"></a></li>
                        <li><a href="#"><img src="{% static  'img/client-brand-css3.png' %}" alt="css3 img"></a></li>
                        <li><a href="#"><img src="{% static 'img/client-brand-wordpress.png' %}"
                                             alt="wordPress img"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Client Brand -->

<!-- Subscribe section -->
<section id="aa-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-subscribe-area">
                    <h3>Subscribe our newsletter </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
                    <form action="" class="aa-subscribe-form">
                        <input type="email" name="" id="" placeholder="Enter your Email">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Subscribe section -->