<!-- menu -->
<section id="menu">
    <div class="container">
        <div class="menu-area">
            <!-- Navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- Left nav -->
                    {% load mptt_tags %}
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        {% recursetree category %}
                            <li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }} <span
                                    class="caret"></span></a>
                                {% if not node.is_leaf_node %}
                                    <ul class="dropdown-menu" class="children">
                                        <li><a href="#">{{ children }}</a></li>
                                    </ul>
                                {% endif %}
                            </li>
                        {% endrecursetree %}
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/references">References</a></li>
                        <li><a href="/faq">FAQ</a></li>

                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</section>
<!-- / menu -->