{% extends 'homebase.html' %}

{% block title %}Products Search{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}

    <!-- 404 error section -->
    <section id="aa-error">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                        <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rs in products %}
                            <tr>
                                <td><a href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{ rs.image.url }}"
                                                                                      style="height: 150px;width: 200px"></a>
                                </td>
                                <td><h4 class="product-name"><a
                                        href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a></h4></td>
                                <td>
                                    <a href="/category/{{ rs.category.id }}/{{ rs.category.slug }}">{{ rs.category }}</a>
                                </td>
                                <td><h4>${{ rs.price }}</h4></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
    <!-- / 404 error section -->

{% endblock %}