{% extends 'homebase.html' %}

{% block title %}{{ category_data.title }}{% endblock %}
{% block keywords %}{{ category_data.keywords }}{% endblock %}
{% block description %}{{ category_data.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block content %}
    {% load static %}
    <!-- catg header banner section -->
    <section id="aa-catg-head-banner">
        <img src="{% static 'img/fashion/fashion-header-bg-8.jpg' %}" alt="fashion img">
        <div class="aa-catg-head-banner-area">
            <div class="container">
                <div class="aa-catg-head-banner-content">
                    <h2>Products</h2>
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">{{ category_data.title }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- / catg header banner section -->

    <!-- product category -->
    <section id="aa-product-category">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                    <div class="aa-product-catg-content">
                        <div class="aa-product-catg-head">
                            <div class="aa-product-catg-head-right">
                                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
                            </div>
                        </div>
                        <div class="aa-product-catg-body">
                            <ul class="aa-product-catg">
                                {% for rs in products %}
                                    <!-- start single product item -->
                                    <li>
                                        <figure>
                                            <a class="aa-product-img" href="/product/{{ rs.id }}/{{ rs.slug }}"><img
                                                    src="{{ rs.image.url }}"
                                                    alt="polo shirt img" style="height: 300px; width: 250px;"></a>
                                            <a class="aa-add-card-btn" href="/order/addtocart/{{ rs.id }}/"><span
                                                    class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <figcaption>
                                                <h4 class="aa-product-title"><a
                                                        href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>
                                                </h4>
                                                <span class="aa-product-price">${{ rs.price }}</span><span
                                                    class="aa-product-price"><del>${{ rs.price }}</del></span>
                                                <p class="aa-product-descrip">{{ rs.description }}</p>
                                            </figcaption>
                                        </figure>
                                        <div class="aa-product-hvr-content">
                                            <a href="#" data-toggle="tooltip" data-placement="top"
                                               title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                            <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span
                                                    class="fa fa-exchange"></span></a>
                                            <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View"
                                               data-toggle="modal" data-target="#quick-view-modal"><span
                                                    class="fa fa-search"></span></a>
                                        </div>
                                        <!-- product badge -->
                                    </li>
                                    <!-- start single product item -->
                                {% endfor %}


                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                    <aside class="aa-sidebar">
                        <!-- single sidebar -->
                        <div class="aa-sidebar-widget">
                            <h3>Category</h3>
                            <ul class="aa-catg-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/aboutus">About Us</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/faq">Faq</a></li>
                            </ul>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </section>
    <!-- / product category -->


    <!-- Subscribe section -->
    <section id="aa-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-subscribe-area">
                        <h3>Subscribe our newsletter </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
                        <form action="" class="aa-subscribe-form">
                            <input type="email" name="" id="" placeholder="Enter your Email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Subscribe section -->


{% endblock %}