{% load static %}
<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    {% for rs in sliderdata %}
                        <!-- single slide item -->
                        <li>
                            <div class="seq-model">
                                <img data-seq src="{{ rs.image.url }}" alt="Men slide img"/>
                            </div>
                            <div class="seq-title">
                                <span data-seq>Save Up to 75% Off</span>
                                <h2 data-seq>{{ rs.title}}</h2>
                                <h2 data-seq>{{ rs.price}}</h2>
                                <a data-seq href="product/{{ rs.id }}/{{ rs.slug }}" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                            </div>
                        </li>
                        <!-- single slide item -->
                    {% endfor %}

                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->