{% extends 'homebase.html' %}

{% block title %}{{ user.first_name }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}


    <!-- 404 error section -->
    <section id="aa-error">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-md-9">
                    <h3>Change Password</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="aa-shop-now-btn aa-secondary-btn">Save Password</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}