{% extends 'homebase.html' %}

{% block title %}{{ profile.user_name }}{% endblock %}
{% block keywords %}{{ setting.keywords }}{% endblock %}
{% block description %}{{ setting.description }}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}


    <!-- 404 error section -->
    <section id="aa-error">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>
                <!-- catg header banner section -->

                <div class="col-md-9">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Address</th>
                            <th scope="col">City</th>
                            <th scope="col">Country</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="col"><img src="{{ profile.image.url }} " style="height: 100px"></td>
                            <td scope="col">{{ profile.user.first_name }}</td>
                            <td scope="col">{{ profile.user.email }}</td>
                            <td scope="col">{{ profile.phone }}</td>
                            <td scope="col">{{ profile.address }}</td>
                            <td scope="col">{{ profile.city }}</td>
                            <td scope="col">{{ profile.country }}</td>


                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </section>
    <!-- / 404 error section -->
    <!-- Subscribe section -->
    <section id="aa-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-subscribe-area">
                        <h3>Subscribe our newsletter </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, velit!</p>
                        <form action="" class="aa-subscribe-form">
                            <input type="email" name="" id="" placeholder="Enter your Email">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Subscribe section -->
{% endblock %}